.root {
    &.primary {
        background-color: orange;
        color: white;
    }
    &.secondary {
        background-color: blue;
        color: white;
    }
    &.upperCase {
      text-transform: uppercase;
    }
}
